@{
    @model Movie;
}
<h1>Add a movie to your library</h1>
<div class="my-4 py-4">
    <form method="post">
        @* This Hidden input is needed to pass along the movie ID when editing a movie. *@
        @if (Model != null)
        {
        <input type="hidden" asp-for="MovieID" value="@Model.MovieID" />
        }
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input class="form-control" asp-for="Title" />
        </div>
        <div class="form-group">
            <label asp-for="Year">Year</label>
            <input class="form-control" asp-for="Year" />
        </div>
        <div class="form-group">
            <label asp-for="CategoryID">Category</label>
            <select class="form-control" asp-for="CategoryID"> 
                <option selected="selected" value="">Please select</option>
                @foreach (Category category in ViewBag.Categories)
                {
                    <option value="@category.CategoryID">@category.CategoryName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Director">Director</label>
            <input class="form-control" asp-for="Director" />
        </div>
        <div class="form-group">
            <label asp-for="Rating">Rating</label>
            @*This syntax creates dropdown items from an Enum*@
            <select class="form-control" asp-for="Rating" asp-items="@Html.GetEnumSelectList<Ratings>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="Edited">
            <label class="form-check-label" asp-for="Edited">Edited</label>
        </div>
        <div class="form-group">
            <label asp-for="LentTo">Lent to</label>
            <input class="form-control" asp-for="LentTo" />
        </div>
        <div class="form-group">
            <label asp-for="Notes">Notes</label>
            <input class="form-control" asp-for="Notes" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div asp-validation-summary="All"></div>
</div>