@{
    @model Movie;
}
<h1>Add a movie to your library</h1>
<div class="my-4 py-4">
    <form method="post">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input class="form-control" asp-for="Title" />
        </div>
        <div class="form-group">
            <label asp-for="Year">Year</label>
            <input class="form-control" asp-for="Year" />
        </div>
        <div class="form-group">
            <label asp-for="Category">Category</label>
            <select class="form-control" asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Director">Director</label>
            <input class="form-control" asp-for="Director" />
        </div>
        <div class="form-group">
            <label asp-for="Rating">Rating</label>
            <select class="form-control" asp-for="Rating" asp-items="@Html.GetEnumSelectList<Rating>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="form-group">
            <input type="checkbox" class="form-check-input" asp-for="Edited">
            <label class="form-check-label" asp-for="Edited">Edited</label>
        </div>
        <div class="form-group">
            <label asp-for="LentTo">Lent to</label>
            <input class="form-control" asp-for="LentTo" />
        </div>
        <div class="form-group">
            <label asp-for="Notes">Notes</label>
            <input class="form-control" asp-for="Notes" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>