@{
    var movies = ViewBag.Movies;
}
@*Some experimentation with Razor template interpolation/generaton*@
@foreach (var movie in movies)
            {
                <div>@movie.Title</div>
            }