@page
@*model IndexModel*@ 
@{
    ViewBag.Title = "My wife calls me a nerd";
}

<!--Hero Img-->
<div class="hero-wrapper">
    <img src="img/IMG_0414.jpeg" alt="Shad with Family" srcset="">
    <div class="hero-caption">
        <h1>Shad Baird</h1>
    </div>
</div>

<!--Page Body-->
<div class="container pt-4 mt-4">
    <h2 class="my-4">About Me</h2>
    <p>
        I am a software developer with a passion for creating beautiful, intuitive, and user-friendly applications.
    </p>
    <p>
        From IS413, I am hoping to gain experience with ASP.NET and Razor/Blazor, as well as learn more about the MVC framework. I want to gain further familiarity with the C# language, and I would love to learn React. I use ASP.NET at work to build our API, however it is a massive, complex application, so I feel that nailing down concepts in a less contextual environment will help me learn the governing principles better. 
    </p>
    <h2 class="my-4">
        Jobs
    </h2>
    <p>
        I currently work as a software developer at <a href="https://www.corebridge.net">CoreBridge</a>. I am most interested in pursuing a career in one of the following roles:
    </p>
    <ol class="list">
        <li class="list-item">Full-Stack Software Engineer</li>
        <li class="list-item">Flutter Mobile Engineer</li>
        <li class="list-item">IT Consultant</li>
    </ol>

<!--Grade Section-->
    <h2 class="my-4">Grades</h2>
    <p>To land one of these jobs, I am hoping to get into the MISM. To gain entry in the MISM, I pay attention to my grades. Here's a little grade calculator to determine how I one will do in this class.</p>

    <form action="submit">
        <div class="form-group">
            <label for="assignments" class="form-label">Assignments</label>
            <input type="number" class="form-control" name="assignments" id="assignments">
        </div>
        <div class="form-group">
            <label for="group_proj" class="form-label">Group Project</label>
            <input type="number" class="form-control" name="group_proj" id="group_proj">
        <div class="form-group">
            <label for="quiz" class="form-label">Quizzes</label>
            <input type="number" class="form-control" name="quiz" id="quiz">
        </div>
        <div class="form-group">
            <label for="exams" class="form-label">Exams</label>
            <input type="number" class="form-control" name="exams" id="exams">
        </div>
        <div class="form-group">
            <label for="intex" class="form-label">INTEX</label>
            <input type="number" class="form-control" name="intex" id="intex">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Calculate</button>
    </form>

    <div class="d-flex justify-content-start">
        <h4>Your Grade:</h4>
        <h4 class="px-4" id="output"></h4>
    </div>
</div>

